[Unit]
Description=Pull changes to brain

[Service]
Type=oneshot
ExecStart=bash -c 'git pull || echo "Startup pull failed at $(date)" >> /home/rexdy/brain/push.log'
ProtectSystem=full
PrivateTmp=true
NoNewPrivileges=true
WorkingDirectory=/home/rexdy/brain/
Restart=no
Nice=10

[Install]
WantedBy=network-online.target
