[Unit]
Description=Delete the ~/.cache/ folder

[Service]
Type=oneshot
ExecStart=rm -rf /home/rexdy/.cache/*
Restart=no

[Install]
WantedBy=timers.target
